[submodule "external/pancake"]
	path = external/pancake
	url = https://github.com/agstack/pancake.git
	branch = main
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "external/inatrace-frontend"]
	path = external/inatrace-frontend
	url = https://github.com/agstack/inatrace-frontend.git
	branch = main
[submodule "external/inatrace-backend"]
	path = external/inatrace-backend
	url = https://github.com/agstack/inatrace-backend.git
	branch = main
